body {
    margin: 0;
    padding: 0;
}

/* Cabeçalho */
header {
    background-color: #90d437; 
    display: flex;
    align-items: center;
    padding: 15px 30px;

}
/*Logo do Trabalho */
.logo {
    height: 40px;
    margin-left: 35px;
}
