body {
    margin: 0;
    padding: 0;
}

/* Cabeçalho */
header {
    background-color: #90d437;
    display: flex;
    align-items: center;
    padding: 15px 90px;
    justify-content: space-between; /* Novo: Centraliza os elementos e os espaça */
}
/*Logo do Trabalho */
.logo {
    height: 40px;
    width: 160px;
}
