.conteudo-central {
    width: 900px;      /* ou 860px, depende do tamanho EXATO do banner */
    margin: 0 auto;    /* centraliza na tela */
  }

  .banner {
    width: 100%;       /* ocupa toda a largura do .conteudo-central */
    display: block;
  }

  #carouselExampleControls {
    width: 100%;       /* segue exatamente a largura do container */
    margin-top: 100px; /* aumentei o espaço em cima para empurrar o carrossel pra baixo */
  }

  /* Garante que todas as imagens tenham mesmo tamanho */
  #carouselExampleControls img {
    width: 100%;
    height: 200px;     /* ajuste a altura como preferir */
    object-fit: cover; /* corta a imagem proporcionalmente */
  }