.conteudo-central {
  width: 200px;      /* ou 860px, depende do tamanho EXATO do banner */
  margin: 50px;    /* centraliza na tela */
}

.banner {
  width: 100%;       /* ocupa toda a largura do .conteudo-central */
  display: block;
}

#carouselExampleControls {
  width: 100%;       /* segue exatamente a largura do container */
  margin-top: 40px; /* espaço superior */
}

/* Ajuste para padronizar imagens */
#carouselExampleControls img {
  width: 100%;
  height: 300px;       /* ajusta altura do banner */
  object-fit: cover;   /* preenche o espaço cortando de forma proporcional */
}