.body {
    background-color:#f6f2d5;
}

.noticia-1 {
    margin-top: 80px;
    margin-bottom: 100px;
}

.noticia-2 {
    margin-top: 80px;
    margin-bottom: 100px;
}

.titulo {
  text-align: center;
  color: #90D437;
  font-size: 70px;
  font-family: 'Jaro', sans-serif;
}

.titulo-verde {
  text-align: center;
  color: #90D437;
  font-size: 45px;
  font-family: 'Jaro', sans-serif;
}

.img-1 {
  height: 300px;
  width: auto;
  object-fit: cover;
  border-radius: 8px;;
}

.img-2 {
  height: 300px;
  width: 426px;
  object-fit: cover;
  border-radius: 8px;
}

.resumo-noticia-1, .resumo-noticia-2 {
  text-align: left;
  max-width: 750px;
  height: auto;
  background-color: #cccccc;
  overflow: auto;
  word-wrap: break-word;
  white-space: normal;
  padding: 10px; 
  border-radius: 8px;
}

.p {
  font-size: 18px;
}

details {
  margin-top: 10px;
  font-size: 18px;  
}

summary {
  cursor: pointer;
  font-size: 15px;
  color: #2d8930;
  font-family: 'jaro', sans-serif;
}