
/* Estilos gerais para o corpo da página e HTML */
html,
body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Estilo principal do rodapé */
.footer {
    background-color: #90d437;
    color: black;
    padding: 40px;
    border-top: 10px solid #2d8930;
    box-sizing: border-box;
}

/* Contêiner para centralizar e limitar a largura do conteúdo do rodapé */
.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Contêiner para as colunas do rodapé */
.footer-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Espalha as colunas uniformemente */
    align-items: flex-start;
    width: 100%;
    gap: 20px;
}

/* Estilo de cada coluna */
.footer-column {
    flex: 1;
    min-width: 180px;
    text-align: center;
}

/* Estilo para os títulos das colunas */
.footer-column h3 {
    border-bottom: 2px solid #2d8930;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

/* Estilo para as imagens em linha com o texto */
.footer-column p img {
    vertical-align: middle;
    margin-right: 8px;
}

/* Estilo da seção de redes sociais */
.footer-social h3 {
    border-bottom: 2px solid #2d8930;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.footer-social a {
    display: inline-block;
    margin: 0 5px;
}

.footer-email {
    color: black; /* Define a cor do texto do link como preta */
    text-decoration: none; /* Opcional: remove o sublinhado do link, se desejar */
}

/* Estilo do texto de direitos autorais */
.footer-copyright {
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

.footer-copyright p {
    font-size: 0.8em;
    margin: 0;
}